
.faq {
  margin-top: 60px;
}
.faq h3 {
  font-size: 30px;
  margin-bottom: 20px;
  color: $black;
}

.faq p {
  font-size: 18px;
}

.faq-nav a {
  display: block;
  color: $black;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}

.page-template-template-faq .page-wrapper {
  margin-bottom: 60px;
}

.more-questions {
  text-align: center;
  margin-top: 60px;
}

.more-questions a {
  display: block;
  max-width: 240px;
  margin: 0 auto 20px;
}
